.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0 2rem;
    background-color: var(--primaryColor);
    color: var(--textColor);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fed7e2;
}

.nav-btn {
    background-color: #0078ff;
    border-radius: 10px;
    font-size: 20px;
}

.para {
    font-size: 40px;
    margin-right: 20px;
}

.nav-container .nav-btn {
    padding: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    /* background-color: white; */
}

.nav-close-btn >* {
    /* border: 1px solid white; */
    margin-bottom: 10px;

}

.nav-container div, nav {
    display: flex;
    align-items: center;
}

.nav-container .responsivefull {
    position: fixed;
    bottom: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    background-color: var(--primaryColor);
    transition: 280ms all 120ms ease-out;
    transform: translatey(100vh);
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #71035b;
    height: 1000px;
}

.nav-container .responsivehalf {
    height: 40%;
}

/* .nav-container .nav-btn {
    visibility: visible ;
    opacity: 1;
} */

@media only screen {
    .nav-container .nav-btn {
        visibility: visible ;
        opacity: 1;
    }

    .nav-btn {
        font-size: 20px;
    }

    .nav-container nav {
        /* border: 5px solid red; */
        position: fixed;
        bottom: 0;
        height: 25%;
        width: 80%;
        border-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        gap: 1rem;
        background-color: var(--primaryColor);
        transition: 280ms all 120ms ease-out;
        transform: translatey(100vh);
        padding-top: 70px;
        padding-bottom: 20px;
        background-color: #71035b;
    }

    a.m {
        width: auto;
        font-size: 20px;
        border-bottom: 5px solid #0A81AB;
        background: transparent;
    }

    .nav-container .responsive{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 1.2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }
}